# Decision Trees Simple example For Novice

# Golf Play example

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

DownLoad the DT_Golf.xlsx and validate

In [36]:
df = pd.read_excel("DT_Golf.xlsx");df.head()

     Outlook   Temp    Humidity      Windy  Play Golf
0  Rainy      Hot     High        False            No
1  Rainy      Hot     High        True             No
2  Overcast   Hot     High        False           Yes
3  Sunny      Mild     High        False          Yes
4  Sunny      Cool     Normal        False        Yes

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
Outlook      14 non-null object
Temp         14 non-null object
Humidity     14 non-null object
Windy        14 non-null object
Play Golf    14 non-null object
dtypes: object(5)
memory usage: 640.0+ bytes

In [37]:
df.describe(include="all")

          Outlook   Temp    Humidity      Windy  Play Golf
count          14     14          14          14        14
unique          3      3           4           7         8
top     Rainy      Mild     Normal        True         Yes
freq            5      6           6           3         3

Finding values and the counts of it.

In [55]:
df

      Outlook   Temp    Humidity      Windy  Play Golf
0   Rainy      Hot     High        False            No
1   Rainy      Hot     High        True             No
2   Overcast   Hot     High        False           Yes
3   Sunny      Mild     High        False          Yes
4   Sunny      Cool     Normal        False        Yes
5   Sunny      Cool     Normal        True          No
6   Overcast   Cool     Normal        True         Yes
7   Rainy      Mild     High        False           No
8   Rainy      Cool     Normal        False        Yes
9   Sunny      Mild     Normal        False        Yes
10  Rainy      Mild     Normal        True         Yes
11  Overcast   Mild     High        True           Yes
12  Overcast   Hot     Normal        False         Yes
13  Sunny      Mild     High        True            No

identifying the unique values

In [57]:
[print (df[i].value_counts()) for  i in df.columns.tolist()]
print([print (df[i].unique()) for  i in df.columns.tolist()])

Rainy        5
Sunny        5
Overcast     4
Name: Outlook, dtype: int64
Mild     6
Cool     4
Hot      4
Name: Temp, dtype: int64
  Normal      6
  High        4
 High         3
 Normal       1
Name: Humidity, dtype: int64
    True      3
    False     3
  True        2
 False        2
  False       2
   False      1
 True         1
Name: Windy , dtype: int64
    Yes    3
   Yes     3
 Yes       2
 No        2
No         1
  No       1
  Yes      1
   No      1
Name: Play Golf, dtype: int64
['Rainy    ' 'Overcast ' 'Sunny    ']
['Hot  ' 'Mild ' 'Cool ']
[' High     ' '  High    ' '  Normal  ' ' Normal   ']
[' False    ' ' True     ' '  False   ' '    False ' '    True  '
 '  True    ' '   False  ']
[' No' 'No' ' Yes' '  Yes' '    Yes' '   No' '   Yes' '  No']
[None, None, None, None, None]

Elimiate the unwanted spaces within dataframe using applymap

In [20]:
df=df.applymap(lambda x: x.strip())

Applying One HOT encoding

In [21]:
X=pd.get_dummies(df.drop(columns="Play Golf"))
Y=pd.get_dummies(df["Play Golf"])
y=df["Play Golf"]

In [12]:
#X=pd.get_dummies(df.drop(columns="Play Golf"))

In [13]:
#y=df["Play Golf"]

splitting Train and Test from our given DataSet

In [23]:
X_Train, x_test, y_Train, y_test = train_test_split(X,y,test_size=0.2,random_state=324)

Assigning the Decision Tree classification

In [25]:
df_model = DecisionTreeClassifier()

Design Tree model with Default parameter Criterian=Gini; min_sample_leaf =2;min_sample_leaf=1

In [26]:
df_model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

Fitting the Decision Tree Model

In [29]:
df_model.fit(X_Train,y_Train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

Predicit the Test result

In [31]:
y_predict_test=df_model.predict(x_test)

Predicit the Train result

In [32]:
y_predict_train = df_model.predict(X_Train)

finding Accuracy Score metrics result for Test data

In [34]:
metrics.accuracy_score(y_test,y_predict_test)

1.0

finding Accuracy Score metrics result for Train data

In [35]:
metrics.accuracy_score(y_Train,y_predict_train)

1.0

finding Confusion Matrics metrics result for Train data

In [60]:
metrics.confusion_matrix(y_Train,y_predict_train)

array([[4, 0],
       [0, 7]])

finding Classification metrics result for Train data

In [61]:
print(metrics.classification_report(y_Train,y_predict_train))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00         4
         Yes       1.00      1.00      1.00         7

   micro avg       1.00      1.00      1.00        11
   macro avg       1.00      1.00      1.00        11
weighted avg       1.00      1.00      1.00        11